@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wdth@12..72,114.8&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}


.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.navBar img {
  height: 20px;
  border: 2px solid #800f2f;
  border-radius: 50%;
}


.main {
  gap: 5rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  align-items: center;
}

@media (max-width:700px) {
  .main {
    gap: 1rem;
    font-size: 10px;
  }
}

.options {
  color: black;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease;
}

.options:hover {
  transform: scale(1.2);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
}

@media(max-width:700px) {
  .navBar {
    display: flex;
    justify-content: space-between;
  }
}

.msg p {
  font-size: 3rem;
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 114.8;
}

@media (max-width:700px) {
  .msg p {
    font-size: 1.5rem;

  }
}

.call {
  color: white;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.3s ease;
  background-color: #1b4332;
}

@media (max-width:700px) {
  .call {
    height: 2.3rem;
    width: 7rem;
  }
}

.call:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#call-btn {
  border: none;
  font-size: 1rem;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
  background-color: #1b4332;
  color: white;
}

@media(max-width:700px) {
  #call-btn {
    font-size: 10px;
  }
}

.social-media {
  margin-left: 1rem;
  transition: all 0.4s ease;
}

.social-media:hover {
  transform: scale(1.2);
}

img {
  height: 20rem;
  border-radius: 50%;
  position: absolute;
  left: 65vw;
  top: 12rem;
}

@media(max-width:700px) {
  img {
    position: absolute;
    left: 15vw;
    top: 8vh;
    height: 18rem;
  }
}

@media(min-width:701px) and (max-width:1200px) {
  img {
    position: absolute;
    top: 7rem;
  }
}

.profile {
  text-align: center;
  margin-top: 10rem;
  height: 20rem;
}

@media(max-width:700px) {
  .profile {
    text-align: start;
  }
}

.text-on-img {
  position: absolute;
  top: 18rem;
  left: 17rem;
}

@media(max-width:700px) {
  .text-on-img {
    position: absolute;
    left: 15vw;
    top: 26rem;
  }
}

@media(min-width:701px) and (max-width:1200px) {
  .text-on-img {
    position: absolute;
    top: 18rem;
    left: 1vw;
  }
}

.profile #name {
  font-size: 70px;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #95d5b2;
}

@media(max-width:700px) {
  .profile #name {
    font-size: 40px;
    text-align: center;
  }
}

.profile #designation {
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #1b4332;
}

@media(max-width:700px) {
  .profile #designation {
    font-size: 40px;
  }
}

.profile #punch-line {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: larger;
}

@media(max-width:700px) {
  .profile #punch-line {
    margin-left: 50px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
}

@media(max-width:700px) {
  .info {
    gap: 2rem;
    align-items: start;
    padding: 10px 5px;
    margin-top: 2rem;
  }
}

.info .head {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: larger;
}

.info .ans {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#social {
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #081c15;
  padding: 10px;
}

.content #projects {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #081c15;
  padding: 20px;
  text-align: center;
  margin-top: 2rem;
}

.project-list {
  text-align: center;
}



.project-list ol {
  display: inline-block;
}

.project-list ol li a {
  color: #081c15;
  text-decoration: none;
  font-size: 2rem;
}

@media(max-width:700px) {
  .project-list ol li a {
    font-size: 1.5rem;
  }
}

.content ol li {
  transition: all 0.5s ease;
  border: 2px solid black;
  list-style-type: none;
  width: 25rem;
  border-radius: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: larger;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

@media(max-width:700px) {
  .content ol li {
    width: 18rem;
  }
}

.content ol li:hover {
  background-color: #1b4332;

  a {
    color: #d8f3dc;
  }

  transform: scale(1.1);
}

#media {
  padding: 30px;
  margin-top: 5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 3rem;
}