@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@113.7,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#about {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
}



.left-about {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}


.circle-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(31, 220, 230);
    box-shadow: 2px 2px 20px rgb(31, 220, 230);
}

.line {
    width: 2px;
    height: 100px;
    background-color: rgb(31, 220, 230);
}

.about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.personal-info {
    margin-bottom: 35px;
}


.education {
    margin-bottom: 40px;
}

.about-details li {
    list-style: none;
    color: aliceblue;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 113.7;
}


.about-details h1 {
    background: linear-gradient(to right, rgb(227, 75, 100), rgba(227, 75, 100, 0.715));
    background-clip: text;
    color: transparent;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

span {
    color: rgb(31, 220, 230);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-about {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#mern img{
   width: 80%;
}

@media (max-width:750px) {
    #about {
        flex-direction: column;

    }

    .left-about {
        width: 100%;
    }

    .right-about {
        width: 100%;
    }

}