@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&display=swap');
#home {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.left-home {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}

.right-home {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 60%;
    filter: drop-shadow(2px 2px 20px rgb(39, 179, 217))
}



.homedetails {
    font-size: 2vmax;
}

.line1 {
    font-size: 1em;
}

.line2 {
    font-size: 2.8em;
    background: linear-gradient(to right, rgb(31, 220, 230), white);
    background-clip: text;
    color: transparent;
}

.line3 {
    font-size: 1em;
}

button{
    width: 100px;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(80, 236, 244);
    border: none;
    transition: all 0.3s ease;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

button:hover{
    color: rgba(80, 236, 244);
    background-color: transparent;
    border: 1px solid rgba(80, 236, 244);
}

@media (max-width:750px) {
    #home{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .left-home{
        width: 100%;
        height: 50vh;
    }
    .right-home{
        width: 100%;
        height: 50vh;
        align-items: end;
    }

}