#contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-contact {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-contact {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    gap: 20px;
    background-color: rgba(13, 13, 13, 0.945);
    box-shadow: 2px 2px 10px rgb(125, 247, 252);
}

form input {
    width: 80%;
    height: 30px;
    padding: 5px;
    border: none;
}

form textarea {
    width: 80%;
    height: 130px;
    padding: 10px;
}

#btn {
    padding: 8px;
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(80, 236, 244);
    border: none;
}

#btn:hover {
    color: rgba(80, 236, 244);
    background-color: transparent;
    border: 1px solid rgba(80, 236, 244);
}

.left-contact img {
    width: 50%;
    filter: drop-shadow(2px 2px 20px rgb(115, 115, 115));
}

form:hover{
    box-shadow: 2px 2px 10px rgb(32, 201, 243), 2px 2px 10px rgb(32, 201, 243);
}

@media(max-width:750px) {
    #contact {
        flex-direction: column;
    }
    .left-contact{
        width: 100%;
        height: 50vh;
    }
    .right-contact{
        width: 100%;
        height: 50vh;
    }

    .left-contact img {
        width: 60%;
    }
    form{
        height: 90%;
        width: 80%;
    }
}