@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    
}

body{
    background: linear-gradient(to right,black,rgba(26, 28, 31, 0.97));
}